html{
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
body{
  font-family: sans-serif;
  font-weight: 400;
  background-color: transparent;
}
.mycontainer{
  margin-top:80px;
  text-align: center;
}
#navbar, #dropdown{
  background-color: #8bc34a9e;
}
#navbar a, #dropdown a{
  color: white;
}
#navbar button{
  background-color: transparent;
  border: none !important ;
}
#dropdown {
  margin-top: 8px;
}
#dropdown a:hover{
  background-color: transparent;
  color: #17a2b8;
}
h2{
  font-weight: bold;
  text-align: center;
  color: white;
}
h3{
  margin-bottom: 25px;
  color: white;
}
p{
  color: white;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
}
.my-link{
  width: 48%;
  height: 40px;
}
#register{
  float: right;
}
#dashboard{
  margin: auto;
  display: inherit;
}
.blockquote p{
  font-size: 19px;
  color: #fff;
}
.blockquote-footer {
  text-align: right;
  color: #17a2b8;
}
.info{
  text-align: center;
  line-height: 26px;
  font-size: 13px;
}
#loginForm .info{
  color: #28a745;   
}
#registerForm .info{
  color: #17a2b8;  
}
#resetForm .info{
  font-size: 17px;
  color: #17a2b8;  
}
.other{
  cursor: pointer;
  text-decoration: none;
}
#loginForm .other{
  color: #28a745;
}
#loginForm .other:hover{
  text-decoration: none;
  color: #17a2b8;  
}
#registerForm .other{
  color: #17a2b8;
}
#registerForm .other:hover{
  text-decoration: none;
  color: #28a745; 
}
.link-btn{
  float: right;
}
input{
  background-color: transparent !important;
  color: white !important;
}
#registerForm input, #resetForm input, .createForm input{
  border: 1px solid #17a2b8 !important;
}
#loginForm input, .editForm input{
  border: 1px solid #28a745 !important;
}
footer{
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  background-color: #608634;
  z-index: 100;
}
footer span{
  font-size: 14px;
  color: white; 
}
footer a{
  text-decoration: none; 
  color: black;
}
footer a:hover{
  text-decoration: none;
}
label{
  color: white;
}
.card{
  margin: auto;
  text-align: center;
  color: #28a745;
}
.card p{
  color: #28a745;
  font-size: 50px;
  margin: 20px auto !important;
}
.create{
  float: left;
}
.view{
  float: right;
}
.create, .view{
  color: #17a2b8;
}
.create:hover, .view:hover{
  color: #28a745;
  text-decoration: none;
}
.note, .appointment{
  text-align: left !important;
}
.note h5, .appointment h5{
  margin-bottom: 0;
}
.note p, .appointment p{
  font-size: 15px !important;
  text-align: left;
  margin: 0 !important;
}
.card-footer input{
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: white;
}
.card-footer input:hover{
  background-color: #e4ae0f !important;
  border: 1px solid #e4ae0f;
}
.pagination{
  padding-right: 15px !important;
  float: right !important;
}
.active .page-link{
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
.pagination a{
  color: #17a2b8 !important;
}
.appointment p span{
  background-color: #28a745;
  margin: 5px;
  font-size: 14px !important;
}