html{
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
body{
  font-family:sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: white;
}
.mycontainer{
  margin-top:80px;
  text-align: center;
}
h2{
  font-weight: bold;
  text-align: center;
  color: white;
}
p{
  color: white;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
}
.my-link{
  width: 48%;
  height: 40px;
}
#signup{
  float: right;
}
.info{
  text-align: center;
  line-height: 26px;
  font-size: 13px;
}
#loginForm .info{
  color: #28a745;   
}
#signupForm .info{
  color: #17a2b8;  
}
.other{
  cursor: pointer;
  text-decoration: none;
}
#loginForm .other{
  color: #28a745;
}
#loginForm .other:hover{
  text-decoration: none;
  color: #17a2b8;  
}
#signupForm .other{
  color: #17a2b8;
}
#signupForm .other:hover{
  text-decoration: none;
  color: #28a745; 
}
.link-btn{
  float: right;
}
input{
  background-color: transparent !important;
  color: white !important;
}
#signupForm input{
  border: 1px solid #17a2b8 !important;
}
#loginForm input{
  border: 1px solid #28a745 !important;
}
footer{
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 10px;
}
footer span{
  font-size: 14px;
  color: #28a745; 
}
footer a{
  text-decoration: none; 
  color: #17a2b8;
}
footer a:hover{
  text-decoration: none;
}