html{
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
body{
  font-family:sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: white;
}
.mycontainer{
  margin-top:80px;
  text-align: center;
}
h2{
  font-weight: bold;
  text-align: center;
  color: white;
}
p{
  color: white;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
}
.my-link{
  width: 48%;
  height: 40px;
}
#signup{
  float: right;
}
.info{
  text-align: center;
  color: #28a745; 
  line-height: 26px;
  font-size: 13px;
}
.other{
  cursor: pointer;
  text-decoration: none;
  color: #28a745;
}
.other:hover{
  text-decoration: none;
  color: #17a2b8;  
}
.link-btn{
  float: right;
}